{{ $section := .blog_feed_section }}
{{ $section_author := .section_author }}
{{ $section_category := .section_category }}
{{ $section_tag := .section_tag }}
{{ $blog_feed_cols := $section.blog_feed_cols | default "three" }}
{{ $post := .post_page }}

{{ if $section_author }}
	{{ if $post.Params.author }}
		{{ $post_author := getJSON $post.Params.author }}
		{{ if eq $post_author.id $section_author.id }}
			{{ $include_dict := dict "blog_feed_section" $section "post_page" $post }}
			{{ partial "blog_post_feed_item.html" $include_dict }}
		{{ end }}
	{{ end }}
{{ else if $section_category }}
	{{ if $post.Params.category }}
		{{ $post_category := getJSON $post.Params.category }}
		{{ if eq $post_category.id $section_category.id }}
			{{ $include_dict := dict "blog_feed_section" $section "post_page" $post }}
			{{ partial "blog_post_feed_item.html" $include_dict }}
		{{ end }}
	{{ end }}
{{ else if $section_tag }}
	{{ range $tag := $post.Params.tags }}
		{{ $post_tag := getJSON $tag }}
		{{ if eq $post_tag.id $section_tag.id }}
			{{ $include_dict := dict "blog_feed_section" $section "post_page" $post }}
			{{ partial "blog_post_feed_item.html" $include_dict }}
		{{ end }}
	{{ end }}
{{ else }}
	{{ $include_dict := dict "blog_feed_section" $section "columns" $blog_feed_cols "post_page" $post }}
	{{ partial "blog_post_feed_item.html" $include_dict }}
{{ end }}
